.hero {
    height: 100%;
    padding-top: 40px;
    background: url(images/hero-image.JPG) center center no-repeat fixed;
}

.dim {
    background-color: rgba(189, 189, 189, 0.3);
    opacity: 1;

}

.img-fluid {
  max-width: 30%;
  height: auto;

}
